<h4 class="text-center">
  Receitas cadastradas
</h4>
<br>
<table class="table table-hover">
    <tr>
        <td>Id</td>
        <td>Nome</td>
        <td>Porção</td>
        <td>Calorias</td>
        <td>Preparo</td>
        <td>Deletar</td>
    </tr>
  <tr *ngFor="let recipe of recipeCollection">
      <td (click)="populateForm(recipe)">{{recipe.Id}}</td>
      <td (click)="populateForm(recipe)">{{recipe.Title}}</td>
      <td (click)="populateForm(recipe)">{{recipe.Portion}} Pessoa(s)</td>
      <td (click)="populateForm(recipe)">{{recipe.Calories}}%</td>
      <td (click)="populateForm(recipe)">{{recipe.PreparationMode}}</td>
      <td><button (click)="onDelete(recipe.Id)" class="btn btn-sm btn-outline-danger">X</button></td>
  </tr>
</table>